<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>NSExceptionAllowsInsecureHTTPLoads</key>
			<true/>
			<key>cdn.nba.com</key>
			<dict/>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Sprintura.otf</string>
		<string>Ruigslay.ttf</string>
	</array>
</dict>
</plist>
